{% extends 'website/base.html' %}
{% load static %}


{% block content %}
        
<!-- site__body -->
<div class="site__body">
    <div class="block-map block">
        <div class="block-map__body">
            <iframe src='https://maps.google.com/maps?q=Holbrook-Palmer%20Park&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed' frameborder='0' scrolling='no' marginheight='0' marginwidth='0'></iframe>
        </div>
    </div>
    <div class="block-header block-header--has-breadcrumb block-header--has-title">
        <div class="container">
            <div class="block-header__body">
                <nav class="breadcrumb block-header__breadcrumb" aria-label="breadcrumb">
                    <ol class="breadcrumb__list">
                        <li class="breadcrumb__spaceship-safe-area" role="presentation"></li>
                        <li class="breadcrumb__item breadcrumb__item--parent breadcrumb__item--first">
                            <a href="index.html" class="breadcrumb__item-link">Home</a>
                        </li>
                        <li class="breadcrumb__item breadcrumb__item--parent">
                            <a href="" class="breadcrumb__item-link">Breadcrumb</a>
                        </li>
                        <li class="breadcrumb__item breadcrumb__item--current breadcrumb__item--last" aria-current="page">
                            <span class="breadcrumb__item-link">Current Page</span>
                        </li>
                        <li class="breadcrumb__title-safe-area" role="presentation"></li>
                    </ol>
                </nav>
                <h1 class="block-header__title">Contact Us</h1>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="container container--max--lg">
            <div class="card">
                <div class="card-body card-body--padding--2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4 pb-lg-0">
                            <div class="mr-1">
                                <h4 class="contact-us__header card-title">Contacts</h4>
                                <div class="contact-us__address">
                                    <p>
                                        <strong>Head office:</strong><br>
                                        Fulcrum Ltd.<br>
                                        Address: 6/A Selskaya Str., 690087, Vladivostok, Russia<br>
                                        Tel: +7 (961) 510-5224 (GMT+3)<br>
                                        Website: www.siberianbushing.com<br>
                                        e-mail: trade@siberianbushing.com<br>
                                        Individual Taxpayer Number (ITN/INN): 2536239676<br>
                                        Primary State Registration Number (PSRN/OGRN): 1112536001896
                                    </p>
                                    <p>
                                        <strong>Official USA Distributor:</strong><br>
                                        DURABLE PARTS LLC<br>
                                        Address: 1170 Raritan Ave, Highland Park, NJ 08904, United States<br>
                                        Tel. +1 (732) 307-4000<br>
                                        Website: www.siberianbushing.us<br>
                                        e-mail: info@durable.parts
                                    </p>
                                    <p>
                                        <strong>Official Canada Distributor:</strong><br>
                                        Siberian Bushing Canada<br>
                                        Address: 19286 21st Ave, Surrey BC V3Z 3M3, Canada<br>
                                        Tel. +1 (778) 830-1031<br>
                                        Website: https://siberianbushing.ca<br>
                                        e-mail: contact@siberianbushing.ca<br>

                                        
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="ml-1">
                                <h4 class="contact-us__header card-title">Leave us a Message</h4>
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="form-name">Your Name</label>
                                            <input type="text" name="name"  id="form-name" class="form-control" placeholder="Your Name">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="form-email">Email</label>
                                            <input type="email" name="email" id="form-email" class="form-control" placeholder="Email Address">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="form-subject">Subject</label>
                                        <input type="text" name="subject" id="form-subject" class="form-control" placeholder="Subject">
                                    </div>
                                    <div class="form-group">
                                        <label for="form-message">Message</label>
                                        <textarea id="form-message" name="message" class="form-control" rows="4"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Send Message</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-space block-space--layout--before-footer"></div>
</div>
<!-- site__body / end -->

{% endblock %}
