{% extends 'website/base.html' %}
{% load static %}


{% block content %}

<!-- site__body -->
<div class="site__body">
    <div class="block-space block-space--layout--after-header"></div>
    <div class="block">
        <div class="container container--max--xl">
            <div class="row">
                <div class="col-12 col-lg-3 d-flex">
                    <div class="account-nav flex-grow-1">
                        <h4 class="account-nav__title">Navigation</h4>
                        <ul class="account-nav__list">
                            <li class="account-nav__item ">
                                <a href="{% url 'index' %}">Home</a>
                            </li>
                            <li class="account-nav__item ">
                                <a href="{% url 'about' %}">About</a>
                            </li>
                            <li class="account-nav__item ">
                                <a href="{% url 'contact' %}">Contact Us</a>
                            </li>
                            <li class="account-nav__item ">
                                <a href="{% url 'terms' %}">Terms</a>
                            </li>
                            <li class="account-nav__item ">
                                <a href="{% url 'warrenty' %}">Warrenty</a>
                            </li>
                            <li class="account-nav__item ">
                                <a href="{% url 'partnership' %}">Partnership</a>
                            </li>
                            <li class="account-nav__item account-nav__item--active">
                                <a href="#">Order Details</a>
                            </li>
                            
                            <li class="account-nav__divider" role="presentation"></li>
                            <li class="account-nav__item ">
                                <a href="{% url 'logout' %}">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-9 mt-4 mt-lg-0">
                    <div class="card">
                        <div class="order-header">
                            <div class="order-header__actions">
                                <a href="account-orders.html" class="btn btn-xs btn-secondary">Back to list</a>
                            </div>
                            <h5 class="order-header__title">Order #{{obj.id}}</h5>
                            <div class="order-header__subtitle">
                                Was placed on <mark>Oct 19, 2020</mark> and is currently <mark>{{obj.status}}</mark>.
                            </div>
                        </div>
                        <div class="card-divider"></div>
                        <div class="card-table">
                            <div class="table-responsive-sm">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody class="card-table__body card-table__body--merge-rows">
                                        {% for product in product_lst %}
                                        <tr>
                                            <td>{{product.product_title}}</td>
                                            <td>${{product.price_per_pack}}</td>
                                        </tr>
                                        {% endfor %}
                                        <!-- <tr>
                                            <td>Brandix Brake Kit BDX-750Z370-S × 1</td>
                                            <td>$224.00</td>
                                        </tr>
                                        <tr>
                                            <td>Left Headlight Of Brandix Z54 × 3</td>
                                            <td>$1047.00</td>
                                        </tr> -->
                                    </tbody>
                                    <tbody class="card-table__body card-table__body--merge-rows">
                                        <tr>
                                            <th>Subtotal</th>
                                            <td>${{subtotal}}</td>
                                        </tr>
                                        <!-- <tr>
                                            <th>Shipping</th>
                                            <td>$25.00</td>
                                        </tr>
                                        <tr>
                                            <th>Tax</th>
                                            <td>$262.00</td>
                                        </tr> -->
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Total</th>
                                            <td>${{subtotal}}</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3 no-gutters mx-n2">
                        <div class="col-sm-6 col-12 px-2">
                            <div class="card address-card address-card--featured">
                                <div class="address-card__badge tag-badge tag-badge--theme">
                                    placed by
                                </div>
                                <div class="address-card__body">
                                    <div class="address-card__name">{{user_obj}}</div>
                                    <!-- <div class="address-card__row">
                                        Random Federation<br>
                                        115302, Moscow<br>
                                        ul. Varshavskaya, 15-2-178
                                    </div> -->
                                    <!-- <div class="address-card__row">
                                        <div class="address-card__row-title">Phone Number</div>
                                        <div class="address-card__row-content">38 972 588-42-36</div>
                                    </div> -->
                                    <div class="address-card__row">
                                        <div class="address-card__row-title">Email Address</div>
                                        <div class="address-card__row-content">{{user_obj.email}}</div>
                                        <div class="address-card__row-content">{{obj.country}}</div>
                                        <div class="address-card__row-content">{{obj.address}}</div>
                                        <div class="address-card__row-content">{{obj.phone_no}}</div>
                                        <!-- <div class="address-card__row-content">{{obj.email}}</div> -->
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 px-2 mt-sm-0 mt-3">
                            <div class="card address-card address-card--featured">
                                <div class="address-card__badge tag-badge tag-badge--theme">
                                    Payment Proof
                                </div>
                                <div class="address-card__body">
                                    <div class="address-card__name">Payment Proof</div>
                                    <div class="address-card__row">
                                        <a class="image image--type--product" href="{{obj.payment_proof.url}}" target="_blank" data-width="700" data-height="700">
                                            <div class="image__body">
                                                <img src="{{obj.payment_proof.url}}" width="200" height="300"/>
                                            </div>
                                        </a>
                                        <!-- <img src="/media/{{obj.payment_proof}}" width="200" height="300"/> -->
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-space block-space--layout--before-footer"></div>
</div>
<!-- site__body / end -->

{% endblock %}